<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      チャットページ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="webchat-container" #botWindow></div>
</ion-content>
