<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			アンケート
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<form (ngSubmit)="logForm()">
		<ion-list lines="full" inset="false" class="ion-no-margin ion-no-padding">
			<ion-radio-group name="q1" [(ngModel)]="questions.q1">
				<ion-list-header>
					<ion-label>1. LINEで情報を得ましたか？</ion-label>
				</ion-list-header>
				<ion-item lines="none">
					<ion-label>はい</ion-label>
					<ion-radio slot="start" value="yes"></ion-radio>
				</ion-item>

				<ion-item lines="none">
					<ion-label>いいえ</ion-label>
					<ion-radio slot="start" color="tertiary" value="no"></ion-radio>
				</ion-item>
			</ion-radio-group>
			<ion-list-header>
				<ion-label>2. あなたのいった店舗はどこ？</ion-label>
			</ion-list-header>
			<ion-item>
				<ion-select name="q2" slot="start" interface="popover" [(ngModel)]="questions.q2">
					<ion-select-option value="f">Female</ion-select-option>
					<ion-select-option value="m">Male</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-list-header>
				<ion-label>3. あなたはどこにいきましたか？</ion-label>
			</ion-list-header>
			<ion-item>
				<ion-input name="q3" [(ngModel)]="questions.q3"></ion-input>
			</ion-item>
		</ion-list>
		<ion-button expand="block" type="submit">アンケート登録</ion-button>

	</form>
</ion-content>